In [1]:
print("Hello Citibank")

Hello Citibank

In [2]:
a= "Variable declaration"

print(a)

b = ("another examples")
print(b)

Variable declaration
another examples

In [3]:


counter = 100
miles = 1000.0
name = "Rao"



print(counter)
print(miles)
print(name)

100
1000.0
Rao

In [4]:
a = b = c = d = 100

print(a)
print(b)
print(c)
print(d)

100
100
100
100

In [5]:
x = 10
y =30

x,y = y, x

print(x)
print(y)

30
10

In [6]:
a, b, c = 30, 40, "Python"


print(a)
print(b)
print(c)

30
40
Python

In [7]:
x = 1

y = x = x+1

print(x, y)

2 2

In [8]:
m = 12

m %= 7

print(m)

m **= 2
print(m)

5
25

In [9]:
counter = 0
miles = 1000.0
name = 'Rao'

counter = counter + 1
kilometers = 1.609 * miles

print('%f miles is the same as %f KM ' % (miles, kilometers))

1000.000000 miles is the same as 1609.000000 KM

In [18]:
print(2 ** 3)

print(-3 ** 2)

print((-3) ** 2)

x = 1

print(x << 2)

print(x >> 2)

print(x | 2)

print(x & 1)

print(30)

print(~30)

print(30 ^ 45)

8
-9
9
4
0
3
1
30
-31
51

In [19]:
x, y = 3.14, -1024

print(x < 5.0)

print(not (x < 5.0))

print((x < 5.0) or (y > 2.71))

print((x < 5.0) and (y > 2.71))

print(not (x is y))

True
False
True
False
True

In [22]:
str = 'Click Open link on the dialog'

print(str)

print(str[0])

print(str[2:5])

print(str[3:])

print(str * 2)

print(str + "Test Example")

Click Open link on the dialog
C
ick
ck Open link on the dialog
Click Open link on the dialogClick Open link on the dialog
Click Open link on the dialogTest Example

In [25]:
# List Examples 

list = ['abcd', 897, 2.23, 'rao', 70.2]

tinyList = [123, 'mahi']

print(list)

print(list[0])

print(list[1:3])

print(list[3:])

print(tinyList *3)

print(list + tinyList)

['abcd', 897, 2.23, 'rao', 70.2]
abcd
[897, 2.23]
['rao', 70.2]
[123, 'mahi', 123, 'mahi', 123, 'mahi']
['abcd', 897, 2.23, 'rao', 70.2, 123, 'mahi']

In [26]:
print("Value available at index 3 : ", list[3])

Value available at index 3 :  rao

In [29]:
list = ['abcd', 897, 2.23, 'rao', 70.2]

print(list)

del list[2]

print(list)

print(len(list))

['abcd', 897, 2.23, 'rao', 70.2]
['abcd', 897, 'rao', 70.2]
4

In [34]:
list1, list2 = ['Java', 'Python', 'GoLang', 'spark', 'PySpark', 'Scala'], [45,34,234,123,120]

print(list1)
print(list2)

print(max(list1))

print(max(list2))

print(min(list1))

print(min(list2))

['Java', 'Python', 'GoLang', 'spark', 'PySpark', 'Scala']
[45, 34, 234, 123, 120]
spark
234
GoLang
34

In [39]:
list1 = ['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']

print(list1.count('Scala'))

print(list1.index('spark'))

list1.insert(2, "Javascript")

print(list1)

2
4
['Java', 'Python', 'Javascript', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']

In [40]:
list1.pop()

print(list1)

['Java', 'Python', 'Javascript', 'Scala', 'GoLang', 'spark', 'PySpark']

In [41]:
list1.pop()

print(list1)

['Java', 'Python', 'Javascript', 'Scala', 'GoLang', 'spark']

In [42]:
list1.pop()

print(list1)

['Java', 'Python', 'Javascript', 'Scala', 'GoLang']

In [43]:
list1.pop(1)

print(list1)

['Java', 'Javascript', 'Scala', 'GoLang']

In [44]:
list1.remove('Scala')

print(list1)

['Java', 'Javascript', 'GoLang']

In [45]:
list1 = ['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']


print(list1)

list1.reverse()


print(list1)

['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']
['Scala', 'PySpark', 'spark', 'GoLang', 'Scala', 'Python', 'Java']

In [46]:
list1 = ['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']


print(list1)

list1.sort()


print(list1)

['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']
['GoLang', 'Java', 'PySpark', 'Python', 'Scala', 'Scala', 'spark']

In [48]:
edward = ['Peter Edward', 41]
mahi = ['Mahanth Rao', 11]

database = [mahi, edward]

print(database)

[['Mahanth Rao', 11], ['Peter Edward', 41]]

In [52]:
list1 = ['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala']

list1.append("Kotlin")
print(list1)

list1.insert(4, "Ruby")
print(list1)

list1.extend(['ADA', 'PASCAL', 'ABAP'])
print(list1)

['Java', 'Python', 'Scala', 'GoLang', 'spark', 'PySpark', 'Scala', 'Kotlin']
['Java', 'Python', 'Scala', 'GoLang', 'Ruby', 'spark', 'PySpark', 'Scala', 'Kotlin']
['Java', 'Python', 'Scala', 'GoLang', 'Ruby', 'spark', 'PySpark', 'Scala', 'Kotlin', 'ADA', 'PASCAL', 'ABAP']

In [54]:
months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]


endings = ['st', 'nd', 'rd'] + 17 * ['th'] \
        + ['st', 'nd', 'rd'] + 7 * ['th'] \
        + ['st']


month_number = 9
day_number = 2

month_name = months[month_number-1]
ordinal = endings[day_number-1]

print(month_name)
print(ordinal)

September
nd

In [59]:
def cmp(x,y) :
    return (x> y) - (x< y)


list1, list2 = [123, 'xyz'], [456, 'abc']

print(cmp(list1, list2))
print(cmp(list2, list1))

-1
1

In [60]:
# If Statements 

var = 100

if(var == 100) :
    print('Value is 100')
    print("Done")

Value is 100
Done

In [61]:
var = 100

if(var == 100) : print('Value is 100')
print("Done")

Value is 100
Done

In [62]:
var = 100

if(var == 100) :
    print('Value is 100')
        print("Done")

IndentationError: unexpected indent (3990927284.py, line 5)

In [63]:
x, y = 40, 30

if x < y :
    smaller = x
else :
    smaller = y
    
print(smaller)

30

In [64]:
smaller = (x < y and [x] or [y])[0]
print(smaller)

30

In [65]:
smaller = x if x< y else y
print(smaller)

30

In [66]:
x = 2
if( x < 0) :
    print("x is negative")
elif x % 2 :
    print("x is positive and odd")
else :
    print("x is even and non negative")

x is even and non negative

In [68]:

name = input("What is your name ? ")
if name.endswith('Rao') :
    print("Hello Dr. Rao")
else :
    print ("Hi New Person")

What is your name ?  Vishwanath Rao

Hello Dr. Rao

In [69]:
#Loops 

# While 

count = 0

while (count < 9) :
    print("The Count is ", count)
    count = count + 1
    
print('loop finished')

The Count is  0
The Count is  1
The Count is  2
The Count is  3
The Count is  4
The Count is  5
The Count is  6
The Count is  7
The Count is  8
loop finished

In [71]:
count = 0

while (count < 5) :
    print(count, " is less than 5")
    count = count + 1
else :
    print(count, "is not less than 5")
    
print('loop finished')

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5 is not less than 5
loop finished

In [72]:
for letter in 'PySpark' :
    print('Current Letter', letter)

Current Letter P
Current Letter y
Current Letter S
Current Letter p
Current Letter a
Current Letter r
Current Letter k

In [73]:
languages = ['Java', 'Python', 'GoLang', 'spark', 'PySpark', 'Scala']


for language in languages :
    print('Current language', language)

Current language Java
Current language Python
Current language GoLang
Current language spark
Current language PySpark
Current language Scala

In [75]:
languages = ['Java', 'Python', 'GoLang', 'spark', 'PySpark', 'Scala']


for index in range(len(languages)) :
    print('Current language', languages[index])

Current language Java
Current language Python
Current language GoLang
Current language spark
Current language PySpark
Current language Scala

In [77]:
for num in range(10, 30) :
    for i in range(2, num) :
        if num%i == 0 :
            j= num/i
            print('%d equals %d * %d' % (num, i, j))
            break
        else:
            print(num, "is a prime number")

10 equals 2 * 5
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
12 equals 2 * 6
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
14 equals 2 * 7
15 is a prime number
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
18 equals 2 * 9
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
20 equals 2 * 10
21 is a prime number
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
24 equals 2 * 12
25 is a prime number
25 is a prime number
25 is a prime number
25 equals 5 * 5
26 equals 2 * 13
27 is a prime number
27 equals 3 * 9
28 equals 2 * 14
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number

In [78]:
for letter in 'Python' :
    if letter == "h" :
        continue
    print("current letter is ", letter)
    
    
var = 10
while var > 0 :
    var = var - 1
    if var == 5 :
        continue
    print('current ' , var)

current letter is  P
current letter is  y
current letter is  t
current letter is  o
current letter is  n
current  9
current  8
current  7
current  6
current  4
current  3
current  2
current  1
current  0