In [2]:
x = 1,2,3,4

print(x)


x = (1,2,3,4)

print(x)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [4]:
x = ()
print(x)

x = 23,

print(x)

()
(23,)

In [12]:
print(['bvr'])

print(type(['bvr']))


print(('bvr1'))

print(type(('bvr1')))


print(('bvr1',))

print(type(('bvr1',)))

['bvr']
<class 'list'>
bvr1
<class 'str'>
('bvr1',)
<class 'tuple'>

In [11]:
print(3 * (40+9))
print(3 * (40+9,))

147
(49, 49, 49)

In [15]:
t = (['abc', 234], 23, -345.99)

print(str(t))

print(len(t))

print(list(t))

(['abc', 234], 23, -345.99)
3
[['abc', 234], 23, -345.99]

In [16]:
tup = ('ggg', 'fff', 'kkk')

(a, b, c) = tup

print(a)
print(b)
print(c)

ggg
fff
kkk

In [18]:
tup = ('ggg', 'fff', 'kkk')

print(tup[0])
print(tup[1])
print(tup[2])

ggg
fff
kkk

In [20]:
tup = ('ggg', 'fff', 'kkk')
tup1 = (78,89,0x9,33)

tupx = tup + tup1

print(tupx)

('ggg', 'fff', 'kkk', 78, 89, 9, 33)

In [21]:
tupNew = tupx + (90.0, 89.4, 67.2, 45.3)

print(tupNew)

('ggg', 'fff', 'kkk', 78, 89, 9, 33, 90.0, 89.4, 67.2, 45.3)

In [23]:
import cmath

print(cmath.sqrt(-1))

print((1 + 3j) * (9+4j))

1j
(-3+31j)

In [24]:
print(1j * complex(0,1))

(-1+0j)

In [25]:
a = 2.5 + 0.5j

print(a.real)

print(a.imag)

2.5
0.5

In [26]:
a = 2.5 + 0.5j

print(a.conjugate())

(2.5-0.5j)

In [27]:
a = 2.5 - 0.5j

print(a.conjugate())

(2.5+0.5j)

In [30]:
var1 = 'By joining a meeting, you agree to our Terms of Service and Privacy Statement'

print(var1[0])
print(var1[1:6])
print(var1[:7])

B
y joi
By join

In [33]:
str1 = "Now Text is here"

print(str1.center(100))
print(str1.rjust(100))
print(str1.ljust(100))

                                          Now Text is here
                                                                                    Now Text is here
Now Text is here

In [36]:
print("Student Name : %s and score is %d " % ('sushi', 90))

Student Name : sushi and score is 90

In [37]:
para_str = """
When compared to fat on your thighs or hips, 
having fat in the midsection can lead to major health risks.
And it doesn't matter what your body shape is; carrying
around extra ( \t )fat just isn't healthy. According to Harvard 
Health Publishing, location is really everything when [ \n ]speaking of excess fat.
Too much belly fat—aka visceral fat—can cause asthma, dementia,
cardiovascular disease, colorectal cancer, and breast cancer.

"""

print(para_str)

When compared to fat on your thighs or hips,
having fat in the midsection can lead to major health risks.
And it doesn't matter what your body shape is; carrying
around extra ( 	 )fat just isn't healthy. According to Harvard
Health Publishing, location is really everything when [
 ]speaking of excess fat.
Too much belly fat—aka visceral fat—can cause asthma, dementia,
cardiovascular disease, colorectal cancer, and breast cancer.

In [38]:
print("c:\\pythonexamples\\day2")

c:\pythonexamples\day2

In [39]:
print(r'c:\\pythonexamples\\day2')

c:\\pythonexamples\\day2

In [40]:
print (u'Hello, world!')

Hello, world!

In [41]:
str1 = "Now Text is here"

sub = "e"

print(str1.count(sub, 0, 30))

3

In [43]:
str1 = "Now text is here and text will be displayed"

sub = "text"

print(str1.count(sub, 0, 60))

2

In [44]:
str1 = "now Text is here"

print(str1.capitalize())

Now text is here

In [45]:
import base64

str = "Now text is here and text will be displayed"

str = base64.b64encode(str.encode('utf-8', errors = 'strict'))

print("encoded string" , str)

encoded string b'Tm93IHRleHQgaXMgaGVyZSBhbmQgdGV4dCB3aWxsIGJlIGRpc3BsYXllZA=='

In [49]:
# endswith


str = "Now text is here and text will be displayed"

suffix="ayed"

print(str.endswith(suffix))
print(str.endswith(suffix, 30))

suffix="and"
print(str.endswith(suffix, 30))
print(str.endswith(suffix, 2, 20))

True
True
False
True

In [53]:

str = "Now text is here \t and text will be displayed"

print(str)

print(str.expandtabs())

print(str.expandtabs(32))

print(str.expandtabs(0))

Now text is here 	 and text will be displayed
Now text is here         and text will be displayed
Now text is here                 and text will be displayed
Now text is here  and text will be displayed

In [54]:
import os

print(os.path.abspath("."))

C:\Users\user\Desktop

In [55]:
import math as foobar

print(foobar.sqrt(9))

3.0

In [56]:
from math import sqrt

print(sqrt(9))

3.0

In [57]:
from math import sqrt as foobar

print(foobar(9))

3.0

In [58]:
import os as mycomputer

print(mycomputer.path.abspath("."))

C:\Users\user\Desktop

In [59]:
# compilation error
# error
# exception 

print(100/0)

ZeroDivisionError: division by zero

In [60]:
list1 = []

print(list1[8])

IndexError: list index out of range

In [61]:
f = open("unknowfile.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'unknowfile.txt'

In [66]:
number1 = input("enter numerator : ")
number2 = input("enter denominator : ")

number1 = float(number1)
number2 = float(number2)
    
result = number1/number2

print(result)

enter numberator :  123
enter denominator :  0

ZeroDivisionError: float division by zero

In [68]:
number1 = input("enter numerator : ")
number2 = input("enter denominator : ")

try :
    number1 = float(number1)
    number2 = float(number2)
    
    result = number1/number2

    print(result)
    
except ZeroDivisionError :
    print("Attempted to divide by 0")

enter numberator :  123
enter denominator :  0

Attempted to divide by 0

In [69]:
number1 = input("enter numerator : ")
number2 = input("enter denominator : ")

try :
    number1 = float(number1)
    number2 = float(number2)
    
    result = number1/number2

    print(result)
    
except ZeroDivisionError :
    print("Attempted to divide by 0")

enter numberator :  123
enter denominator :

ValueError: could not convert string to float: ''

In [70]:
number1 = input("enter numerator : ")
number2 = input("enter denominator : ")

try :
    number1 = float(number1)
    number2 = float(number2)
    
    result = number1/number2

    print(result)
    
except ZeroDivisionError :
    print("Attempted to divide by 0")
    
except ValueError :
    print("You must enter two values")

enter numerator :  123
enter denominator :

You must enter two values

In [75]:
number1 = input("enter numerator : ")
number2 = input("enter denominator : ")

try :
    number1 = float(number1)
    number2 = float(number2)
    
    result = number1/number2

    print(result)
    
except ZeroDivisionError :
    print("Attempted to divide by 0")
    
except ValueError :
    print("You must enter two values")
    
else :
    print("%.3f / %.3f = %.3f" % (number1, number2, result))

enter numerator :  123
enter denominator :  9

13.666666666666666
123.000 / 9.000 = 13.667

In [77]:
try :
    name = input("enter your name")
    print(name)
except KeyboardInterrupt :
    print(" hit control-c")

enter your name 123

123

In [79]:
try :
    x = input("enter an integer : ")
    y = int(x)
    print(y)
except (TypeError, ValueError) :
    print(" Does not look like integer to me")

enter an integer :  dsds

 Does not look like integer to me

In [84]:
import sys

try :
    f = open('numbers.txt')
    s = f.readline()
    i = int(s.strip())
    
except IOError as e :
    errno, strerror = e.args
    print("I/O error({0}) : {1}".format(errno, strerror))
    
except ValueError :
    print("No Valid integer in line")
except :
    print("Unexpected Error ", sys.exc_info()[0])
    raise

In [85]:
def f() :
    x = int("four")
    
try :
    f()
except ValueError as e :
    print("Got it :-) ", e)
    
print("Code Continues")

Got it :-)  invalid literal for int() with base 10: 'four'
Code Continues

In [86]:
def f() :
    try :
        x = int("four")
    except ValueError as e :
        print("Got it :-) ", e)

        
        
f()

    
print("Code Continues")

Got it :-)  invalid literal for int() with base 10: 'four'
Code Continues

In [87]:
def f() :
    try :
        x = int("four")
    except ValueError as e :
        print("Got it :-) ", e)
        raise

        
        
f()

    
print("Code Continues")

Got it :-)  invalid literal for int() with base 10: 'four'

ValueError: invalid literal for int() with base 10: 'four'

In [88]:
def f() :
    try :
        x = int("four")
    except ValueError as e :
        print("Got it :-) ", e)
        raise
        
        
try :
    f()
except ValueError as e :
    print("Got it :-) ", e)
    
print("Code Continues")

Got it :-)  invalid literal for int() with base 10: 'four'
Got it :-)  invalid literal for int() with base 10: 'four'
Code Continues

In [89]:
class MyException(Exception) :
    pass

raise MyException("An user defined exception")

MyException: An user defined exception

In [90]:
try :
    x = float(input("Number 1"))
    inverse = 1.0 / x
except ValueError :
    print("Value Error occured ")
    
except ZeroDivisionError :
    print("Divide by zero ")
finally :
    print(" this statement will be printed at any clause")

Number 1 12

 this statement will be printed at any clause

In [91]:
try :
    x = float(input("Number 1"))
    inverse = 1.0 / x
except ValueError :
    print("Value Error occured ")
    
except ZeroDivisionError :
    print("Divide by zero ")
finally :
    print(" this statement will be printed at any clause")

Number 1 0

Divide by zero
 this statement will be printed at any clause

In [92]:
try :
    x = float(input("Number 1"))
    inverse = 1.0 / x
finally :
    print("even any situation this statement will print")
    
print("last statement")

Number 1 12

even any situation this statement will print
last statement

In [93]:
try :
    x = float(input("Number 1"))
    inverse = 1.0 / x
finally :
    print("even any situation this statement will print")
    
print("last statement")

Number 1 0

even any situation this statement will print

ZeroDivisionError: float division by zero