In [1]:
import math

class NegativeNumberError(ArithmeticError) :
    """ attempted improper operation on negative number. """
    pass

In [2]:
def squareRoot( number) :
    """ Computes square root of number . Raises Negative Number Error """
    
    if number < 0 :
        raise NegativeNumberError("Square root of Negative Number not permitted")
        
    return math.sqrt( number )

In [5]:
while 1 : 
    try :
        userValue = float(input("\n Please enter a number :"))
        print(squareRoot(userValue))
    except ValueError :
        print( " The entered value is not a number")
    except NegativeNumberError as exception :
        print(exception)
    else :
        break

 Please enter a number : -90

Square root of Negative Number not permitted

 Please enter a number : 89

9.433981132056603

In [7]:


import collections

print(collections.Counter(['a', 'b', 'c', 'a', 'b', 'b']))

print(collections.Counter(a=2, b=4, c=3))

Counter({'b': 3, 'a': 2, 'c': 1})
Counter({'b': 4, 'c': 3, 'a': 2})

In [13]:
c = collections.Counter()

print("Initial : ", c)

c.update('fgfhgkjgkjghkjhghgkfjhkjfhkfhkfj')

print('Sequence : ', c)

c.update({'a' : 1, 'd' : 5, 'h' : 8})

print("Dictionary : " , c)

Initial :  Counter()
Sequence :  Counter({'h': 7, 'k': 7, 'f': 6, 'g': 6, 'j': 6})
Dictionary :  Counter({'h': 15, 'k': 7, 'f': 6, 'g': 6, 'j': 6, 'd': 5, 'a': 1})

In [14]:
c1 = collections.Counter(['a', 'b', 'c', 'a', 'b', 'b'])
c2 = collections.Counter('alphabet')

print("C1 : ", c1)
print("C2 : ", c2)

C1 :  Counter({'b': 3, 'a': 2, 'c': 1})
C2 :  Counter({'a': 2, 'l': 1, 'p': 1, 'h': 1, 'b': 1, 'e': 1, 't': 1})

In [15]:
print("Combined Counts")
print(c1 + c2)

Combined Counts
Counter({'a': 4, 'b': 4, 'c': 1, 'l': 1, 'p': 1, 'h': 1, 'e': 1, 't': 1})

In [16]:
print("Substraction Counts")
print(c1 - c2)

Substraction Counts
Counter({'b': 2, 'c': 1})

In [17]:
print("Intersection taking positive minimums")
print(c1 & c2)

Intersection taking positive minimums
Counter({'a': 2, 'b': 1})

In [18]:
print("Union taking maximum")
print(c1 | c2)

Union taking maximum
Counter({'b': 3, 'a': 2, 'c': 1, 'l': 1, 'p': 1, 'h': 1, 'e': 1, 't': 1})

In [19]:
from collections import deque

dq = deque()
for e in dq :
    print(e)

In [27]:
dq = deque(['a', 'b', 'c', 'd'])
for e in dq :
    print(e)

a
b
c
d

In [31]:
dq2 = deque({1: 'a', 3 : 'b', 5 : 'c', 7 : 'd'})
for e in dq2 :
    print(e)

1
3
5
7

In [29]:
dq3 = deque(dq2)
for e in dq3 :
    print(e)

1
3
5
7

In [32]:
dq4 = deque(dq3)
for e in dq4 :
    print(e)

a
b
c
d

In [34]:
queue = []

def enQ() :
    queue.append("A")
    
def deQ() :
    if len(queue) == 0 :
        print("Cannot pop from an empty queue")
    else :
        print("Removed")

In [43]:
print((set()))
print((set([])))
print((set(())))
print((set('BC')))

print((set('BCCCCC')))
print((set('WWWWDDDDDDDDDDGGGGGGXYZXABCCCCC')))

print(frozenset(['a','b','c']))

set()
set()
set()
{'B', 'C'}
{'B', 'C'}
{'Z', 'X', 'C', 'Y', 'A', 'B', 'G', 'W', 'D'}
frozenset({'a', 'b', 'c'})

In [45]:
a = set([1,2,3])
b = set([2,3,4])

print(a.union(b))
print(a | b)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [46]:
c = a & b

print(c)

{2, 3}

In [54]:
print(c.issubset(a))
print(c.issuperset(a))
print(c.intersection(a))
print(a.difference(b))
print(a-b)
print(a.symmetric_difference(b))
print(a ^ b)
print(a.copy())

True
False
{2, 3}
{1}
{1}
{1, 4}
{1, 4}
{1, 2, 3}

In [56]:
d = {'x' : 1, 'y' : 2, 'z' : 3}

print(d)

for key in d :
    print(key, 'corresponds to ' , d[key])

{'x': 1, 'y': 2, 'z': 3}
x corresponds to  1
y corresponds to  2
z corresponds to  3

In [57]:
dict1 = {'A' : 'earth', 'B' : 90}

print(dict1)

dict1['A'] = 'Mars'
dict1['B'] = 989
dict1['C'] = 'Sun'

print(dict1)

{'A': 'earth', 'B': 90}
{'A': 'Mars', 'B': 989, 'C': 'Sun'}

In [58]:
print(dict(zip(('x', 'y'), (1, 2))))

{'x': 1, 'y': 2}

In [62]:
items = [('name', 'Rao'), ('score', 99)]

print(items)

d = dict(items)

print(d)

print(d['name'])

[('name', 'Rao'), ('score', 99)]
{'name': 'Rao', 'score': 99}
Rao

In [61]:
del d['name']

print(d)

{'score': 99}

In [65]:
d = {'x' : 1, 'y' : 2, 'z' : 3}

dict1 = d.copy()

print(dict1)

print(dict1.get('x'))

print(dict1.keys())

print(dict1.values())

{'x': 1, 'y': 2, 'z': 3}
1
dict_keys(['x', 'y', 'z'])
dict_values([1, 2, 3])

In [66]:
for key in dict1.keys() :
    print(dict1[key])

1
2
3

In [67]:
print(dict1.items())

dict_items([('x', 1), ('y', 2), ('z', 3)])

In [68]:
# OOP concepts 


class MyClass(object) :
    pass



class Contact :
    all_contacts = []
    
    def __init__(self, name, email) :
        self.name = name
        self.email = email
        Contact.all_contacts.append(self)

In [1]:
class Employee :
    'common base class for all employees'
    empCount = 0 
    
    def __init__(self, name, salary) :
        self.name = name
        self.salary = salary
        Employee.empCount += 1
        
    def displayCount(self) :
        print("Total employees %d" % Employee.empCount)
        
    def displayEmployee(self) :
        print("Name : ", self.name, ", Salary : ", self.salary)

In [2]:
emp1 = Employee("Zara", 2000)
emp2 = Employee("Manni", 3000)

emp1.displayEmployee()
emp2.displayEmployee()

print(Employee.empCount)

Name :  Zara , Salary :  2000
Name :  Manni , Salary :  3000
2