In [3]:
import csv

with open('aapl.csv') as csv_file :
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader :
        if line_count == 0 :
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else :
            print(f'\t {row[0]} works in the { row[1]} department, and was born in {row[2]}.')
            line_count += 1
            
        print(f'Processed {line_count} lines. ')

Column names are Date, Open, High, Low, Close, Volume
Processed 1 lines.
	 7-Dec-16 works in the 109.26 department, and was born in 111.19.
Processed 2 lines.
	 6-Dec-16 works in the 109.50 department, and was born in 110.36.
Processed 3 lines.
	 5-Dec-16 works in the 110.00 department, and was born in 110.03.
Processed 4 lines.
	 2-Dec-16 works in the 109.17 department, and was born in 110.09.
Processed 5 lines.
	 1-Dec-16 works in the 110.36 department, and was born in 110.94.
Processed 6 lines.
	 30-Nov-16 works in the 111.60 department, and was born in 112.20.
Processed 7 lines.
	 29-Nov-16 works in the 110.78 department, and was born in 112.03.
Processed 8 lines.
	 28-Nov-16 works in the 111.43 department, and was born in 112.46.
Processed 9 lines.
	 25-Nov-16 works in the 111.47 department, and was born in 111.87.
Processed 10 lines.
	 23-Nov-16 works in the 111.36 department, and was born in 111.51.
Processed 11 lines.
	 22-Nov-16 works in the 111.95 department, and was born in 112.42.
Processed 12 lines.
	 21-Nov-16 works in the 110.12 department, and was born in 111.99.
Processed 13 lines.
	 18-Nov-16 works in the 109.72 department, and was born in 110.54.
Processed 14 lines.
	 17-Nov-16 works in the 109.81 department, and was born in 110.35.
Processed 15 lines.
	 16-Nov-16 works in the 106.70 department, and was born in 110.23.
Processed 16 lines.
	 15-Nov-16 works in the 106.57 department, and was born in 107.68.
Processed 17 lines.
	 14-Nov-16 works in the 107.71 department, and was born in 107.81.
Processed 18 lines.
	 11-Nov-16 works in the 107.12 department, and was born in 108.87.
Processed 19 lines.
	 10-Nov-16 works in the 111.09 department, and was born in 111.09.
Processed 20 lines.
	 9-Nov-16 works in the 109.88 department, and was born in 111.32.
Processed 21 lines.
	 8-Nov-16 works in the 110.31 department, and was born in 111.72.
Processed 22 lines.
	 7-Nov-16 works in the 110.08 department, and was born in 110.51.
Processed 23 lines.
	 4-Nov-16 works in the 108.53 department, and was born in 110.25.
Processed 24 lines.
	 3-Nov-16 works in the 110.98 department, and was born in 111.46.
Processed 25 lines.
	 2-Nov-16 works in the 111.40 department, and was born in 112.35.
Processed 26 lines.
	 1-Nov-16 works in the 113.46 department, and was born in 113.77.
Processed 27 lines.
	 31-Oct-16 works in the 113.65 department, and was born in 114.23.
Processed 28 lines.
	 28-Oct-16 works in the 113.87 department, and was born in 115.21.
Processed 29 lines.
	 27-Oct-16 works in the 115.39 department, and was born in 115.86.
Processed 30 lines.
	 26-Oct-16 works in the 114.31 department, and was born in 115.70.
Processed 31 lines.
	 25-Oct-16 works in the 117.95 department, and was born in 118.36.
Processed 32 lines.
	 24-Oct-16 works in the 117.10 department, and was born in 117.74.
Processed 33 lines.
	 21-Oct-16 works in the 116.81 department, and was born in 116.91.
Processed 34 lines.
	 20-Oct-16 works in the 116.86 department, and was born in 117.38.
Processed 35 lines.
	 19-Oct-16 works in the 117.25 department, and was born in 117.76.
Processed 36 lines.
	 18-Oct-16 works in the 118.18 department, and was born in 118.21.
Processed 37 lines.
	 17-Oct-16 works in the 117.33 department, and was born in 117.84.
Processed 38 lines.
	 14-Oct-16 works in the 117.88 department, and was born in 118.17.
Processed 39 lines.
	 13-Oct-16 works in the 116.79 department, and was born in 117.44.
Processed 40 lines.
	 12-Oct-16 works in the 117.35 department, and was born in 117.98.
Processed 41 lines.
	 11-Oct-16 works in the 117.70 department, and was born in 118.69.
Processed 42 lines.
	 10-Oct-16 works in the 115.02 department, and was born in 116.75.
Processed 43 lines.
	 7-Oct-16 works in the 114.31 department, and was born in 114.56.
Processed 44 lines.
	 6-Oct-16 works in the 113.70 department, and was born in 114.34.
Processed 45 lines.
	 5-Oct-16 works in the 113.40 department, and was born in 113.66.
Processed 46 lines.
	 4-Oct-16 works in the 113.06 department, and was born in 114.31.
Processed 47 lines.
	 3-Oct-16 works in the 112.71 department, and was born in 113.05.
Processed 48 lines.
	 30-Sep-16 works in the 112.46 department, and was born in 113.37.
Processed 49 lines.
	 29-Sep-16 works in the 113.16 department, and was born in 113.80.
Processed 50 lines.
	 28-Sep-16 works in the 113.69 department, and was born in 114.64.
Processed 51 lines.
	 27-Sep-16 works in the 113.00 department, and was born in 113.18.
Processed 52 lines.
	 26-Sep-16 works in the 111.64 department, and was born in 113.39.
Processed 53 lines.
	 23-Sep-16 works in the 114.42 department, and was born in 114.79.
Processed 54 lines.
	 22-Sep-16 works in the 114.35 department, and was born in 114.94.
Processed 55 lines.
	 21-Sep-16 works in the 113.85 department, and was born in 113.99.
Processed 56 lines.
	 20-Sep-16 works in the 113.05 department, and was born in 114.12.
Processed 57 lines.
	 19-Sep-16 works in the 115.19 department, and was born in 116.18.
Processed 58 lines.
	 16-Sep-16 works in the 115.12 department, and was born in 116.13.
Processed 59 lines.
	 15-Sep-16 works in the 113.86 department, and was born in 115.73.
Processed 60 lines.
	 14-Sep-16 works in the 108.73 department, and was born in 113.03.
Processed 61 lines.
	 13-Sep-16 works in the 107.51 department, and was born in 108.79.
Processed 62 lines.
	 12-Sep-16 works in the 102.65 department, and was born in 105.72.
Processed 63 lines.
	 9-Sep-16 works in the 104.64 department, and was born in 105.72.
Processed 64 lines.
	 8-Sep-16 works in the 107.25 department, and was born in 107.27.
Processed 65 lines.
	 7-Sep-16 works in the 107.83 department, and was born in 108.76.
Processed 66 lines.
	 6-Sep-16 works in the 107.90 department, and was born in 108.30.
Processed 67 lines.
	 2-Sep-16 works in the 107.70 department, and was born in 108.00.
Processed 68 lines.
	 1-Sep-16 works in the 106.14 department, and was born in 106.80.
Processed 69 lines.
	 31-Aug-16 works in the 105.66 department, and was born in 106.57.
Processed 70 lines.
	 30-Aug-16 works in the 105.80 department, and was born in 106.50.
Processed 71 lines.
	 29-Aug-16 works in the 106.62 department, and was born in 107.44.
Processed 72 lines.
	 26-Aug-16 works in the 107.41 department, and was born in 107.95.
Processed 73 lines.
	 25-Aug-16 works in the 107.39 department, and was born in 107.88.
Processed 74 lines.
	 24-Aug-16 works in the 108.56 department, and was born in 108.75.
Processed 75 lines.
	 23-Aug-16 works in the 108.59 department, and was born in 109.32.
Processed 76 lines.
	 22-Aug-16 works in the 108.86 department, and was born in 109.10.
Processed 77 lines.
	 19-Aug-16 works in the 108.77 department, and was born in 109.69.
Processed 78 lines.
	 18-Aug-16 works in the 109.23 department, and was born in 109.60.
Processed 79 lines.
	 17-Aug-16 works in the 109.10 department, and was born in 109.37.
Processed 80 lines.
	 16-Aug-16 works in the 109.63 department, and was born in 110.23.
Processed 81 lines.
	 15-Aug-16 works in the 108.14 department, and was born in 109.54.
Processed 82 lines.
	 12-Aug-16 works in the 107.78 department, and was born in 108.44.
Processed 83 lines.
	 11-Aug-16 works in the 108.52 department, and was born in 108.93.
Processed 84 lines.
	 10-Aug-16 works in the 108.71 department, and was born in 108.90.
Processed 85 lines.
	 9-Aug-16 works in the 108.23 department, and was born in 108.94.
Processed 86 lines.
	 8-Aug-16 works in the 107.52 department, and was born in 108.37.
Processed 87 lines.
	 5-Aug-16 works in the 106.27 department, and was born in 107.65.
Processed 88 lines.
	 4-Aug-16 works in the 105.58 department, and was born in 106.00.
Processed 89 lines.
	 3-Aug-16 works in the 104.81 department, and was born in 105.84.
Processed 90 lines.
	 2-Aug-16 works in the 106.05 department, and was born in 106.07.
Processed 91 lines.
	 1-Aug-16 works in the 104.41 department, and was born in 106.15.
Processed 92 lines.
	 29-Jul-16 works in the 104.19 department, and was born in 104.55.
Processed 93 lines.
	 28-Jul-16 works in the 102.83 department, and was born in 104.45.
Processed 94 lines.
	 27-Jul-16 works in the 104.26 department, and was born in 104.35.
Processed 95 lines.
	 26-Jul-16 works in the 96.82 department, and was born in 97.97.
Processed 96 lines.
	 25-Jul-16 works in the 98.25 department, and was born in 98.84.
Processed 97 lines.
	 22-Jul-16 works in the 99.26 department, and was born in 99.30.
Processed 98 lines.
	 21-Jul-16 works in the 99.83 department, and was born in 101.00.
Processed 99 lines.
	 20-Jul-16 works in the 100.00 department, and was born in 100.46.
Processed 100 lines.
	 19-Jul-16 works in the 99.56 department, and was born in 100.00.
Processed 101 lines.
	 18-Jul-16 works in the 98.70 department, and was born in 100.13.
Processed 102 lines.
	 15-Jul-16 works in the 98.92 department, and was born in 99.30.
Processed 103 lines.
	 14-Jul-16 works in the 97.39 department, and was born in 98.99.
Processed 104 lines.
	 13-Jul-16 works in the 97.41 department, and was born in 97.67.
Processed 105 lines.
	 12-Jul-16 works in the 97.17 department, and was born in 97.70.
Processed 106 lines.
	 11-Jul-16 works in the 96.75 department, and was born in 97.65.
Processed 107 lines.
	 8-Jul-16 works in the 96.49 department, and was born in 96.89.
Processed 108 lines.
	 7-Jul-16 works in the 95.70 department, and was born in 96.50.
Processed 109 lines.
	 6-Jul-16 works in the 94.60 department, and was born in 95.66.
Processed 110 lines.
	 5-Jul-16 works in the 95.39 department, and was born in 95.40.
Processed 111 lines.
	 1-Jul-16 works in the 95.49 department, and was born in 96.46.
Processed 112 lines.
	 30-Jun-16 works in the 94.44 department, and was born in 95.77.
Processed 113 lines.
	 29-Jun-16 works in the 93.97 department, and was born in 94.55.
Processed 114 lines.
	 28-Jun-16 works in the 92.90 department, and was born in 93.66.
Processed 115 lines.
	 27-Jun-16 works in the 93.00 department, and was born in 93.05.
Processed 116 lines.
	 24-Jun-16 works in the 92.91 department, and was born in 94.66.
Processed 117 lines.
	 23-Jun-16 works in the 95.94 department, and was born in 96.29.
Processed 118 lines.
	 22-Jun-16 works in the 96.25 department, and was born in 96.89.
Processed 119 lines.
	 21-Jun-16 works in the 94.94 department, and was born in 96.35.
Processed 120 lines.
	 20-Jun-16 works in the 96.00 department, and was born in 96.57.
Processed 121 lines.
	 17-Jun-16 works in the 96.62 department, and was born in 96.65.
Processed 122 lines.
	 16-Jun-16 works in the 96.45 department, and was born in 97.75.
Processed 123 lines.
	 15-Jun-16 works in the 97.82 department, and was born in 98.41.
Processed 124 lines.
	 14-Jun-16 works in the 97.32 department, and was born in 98.48.
Processed 125 lines.
	 13-Jun-16 works in the 98.69 department, and was born in 99.12.
Processed 126 lines.
	 10-Jun-16 works in the 98.53 department, and was born in 99.35.
Processed 127 lines.
	 9-Jun-16 works in the 98.50 department, and was born in 99.99.
Processed 128 lines.
	 8-Jun-16 works in the 99.02 department, and was born in 99.56.
Processed 129 lines.
	 7-Jun-16 works in the 99.25 department, and was born in 99.87.
Processed 130 lines.
	 6-Jun-16 works in the 97.99 department, and was born in 101.89.
Processed 131 lines.
	 3-Jun-16 works in the 97.79 department, and was born in 98.27.
Processed 132 lines.
	 2-Jun-16 works in the 97.60 department, and was born in 97.84.
Processed 133 lines.
	 1-Jun-16 works in the 99.02 department, and was born in 99.54.
Processed 134 lines.
	 31-May-16 works in the 99.60 department, and was born in 100.40.
Processed 135 lines.
	 27-May-16 works in the 99.44 department, and was born in 100.47.
Processed 136 lines.
	 26-May-16 works in the 99.68 department, and was born in 100.73.
Processed 137 lines.
	 25-May-16 works in the 98.67 department, and was born in 99.74.
Processed 138 lines.
	 24-May-16 works in the 97.22 department, and was born in 98.09.
Processed 139 lines.
	 23-May-16 works in the 95.87 department, and was born in 97.19.
Processed 140 lines.
	 20-May-16 works in the 94.64 department, and was born in 95.43.
Processed 141 lines.
	 19-May-16 works in the 94.64 department, and was born in 94.64.
Processed 142 lines.
	 18-May-16 works in the 94.16 department, and was born in 95.21.
Processed 143 lines.
	 17-May-16 works in the 94.55 department, and was born in 94.70.
Processed 144 lines.
	 16-May-16 works in the 92.39 department, and was born in 94.39.
Processed 145 lines.
	 13-May-16 works in the 90.00 department, and was born in 91.67.
Processed 146 lines.
	 12-May-16 works in the 92.72 department, and was born in 92.78.
Processed 147 lines.
	 11-May-16 works in the 93.48 department, and was born in 93.57.
Processed 148 lines.
	 10-May-16 works in the 93.33 department, and was born in 93.57.
Processed 149 lines.
	 9-May-16 works in the 93.00 department, and was born in 93.77.
Processed 150 lines.
	 6-May-16 works in the 93.37 department, and was born in 93.45.
Processed 151 lines.
	 5-May-16 works in the 94.00 department, and was born in 94.07.
Processed 152 lines.
	 4-May-16 works in the 95.20 department, and was born in 95.90.
Processed 153 lines.
	 3-May-16 works in the 94.20 department, and was born in 95.74.
Processed 154 lines.
	 2-May-16 works in the 93.96 department, and was born in 94.08.
Processed 155 lines.
	 29-Apr-16 works in the 93.99 department, and was born in 94.72.
Processed 156 lines.
	 28-Apr-16 works in the 97.61 department, and was born in 97.88.
Processed 157 lines.
	 27-Apr-16 works in the 96.00 department, and was born in 98.71.
Processed 158 lines.
	 26-Apr-16 works in the 103.91 department, and was born in 105.30.
Processed 159 lines.
	 25-Apr-16 works in the 105.00 department, and was born in 105.65.
Processed 160 lines.
	 22-Apr-16 works in the 105.01 department, and was born in 106.48.
Processed 161 lines.
	 21-Apr-16 works in the 106.93 department, and was born in 106.93.
Processed 162 lines.
	 20-Apr-16 works in the 106.64 department, and was born in 108.09.
Processed 163 lines.
	 19-Apr-16 works in the 107.88 department, and was born in 108.00.
Processed 164 lines.
	 18-Apr-16 works in the 108.89 department, and was born in 108.95.
Processed 165 lines.
	 15-Apr-16 works in the 112.11 department, and was born in 112.30.
Processed 166 lines.
	 14-Apr-16 works in the 111.62 department, and was born in 112.39.
Processed 167 lines.
	 13-Apr-16 works in the 110.80 department, and was born in 112.34.
Processed 168 lines.
	 12-Apr-16 works in the 109.34 department, and was born in 110.50.
Processed 169 lines.
	 11-Apr-16 works in the 108.97 department, and was born in 110.61.
Processed 170 lines.
	 8-Apr-16 works in the 108.91 department, and was born in 109.77.
Processed 171 lines.
	 7-Apr-16 works in the 109.95 department, and was born in 110.42.
Processed 172 lines.
	 6-Apr-16 works in the 110.23 department, and was born in 110.98.
Processed 173 lines.
	 5-Apr-16 works in the 109.51 department, and was born in 110.73.
Processed 174 lines.
	 4-Apr-16 works in the 110.42 department, and was born in 112.19.
Processed 175 lines.
	 1-Apr-16 works in the 108.78 department, and was born in 110.00.
Processed 176 lines.
	 31-Mar-16 works in the 109.72 department, and was born in 109.90.
Processed 177 lines.
	 30-Mar-16 works in the 108.65 department, and was born in 110.42.
Processed 178 lines.
	 29-Mar-16 works in the 104.89 department, and was born in 107.79.
Processed 179 lines.
	 28-Mar-16 works in the 106.00 department, and was born in 106.19.
Processed 180 lines.
	 24-Mar-16 works in the 105.47 department, and was born in 106.25.
Processed 181 lines.
	 23-Mar-16 works in the 106.48 department, and was born in 107.07.
Processed 182 lines.
	 22-Mar-16 works in the 105.25 department, and was born in 107.29.
Processed 183 lines.
	 21-Mar-16 works in the 105.93 department, and was born in 107.65.
Processed 184 lines.
	 18-Mar-16 works in the 106.34 department, and was born in 106.50.
Processed 185 lines.
	 17-Mar-16 works in the 105.52 department, and was born in 106.47.
Processed 186 lines.
	 16-Mar-16 works in the 104.61 department, and was born in 106.31.
Processed 187 lines.
	 15-Mar-16 works in the 103.96 department, and was born in 105.18.
Processed 188 lines.
	 14-Mar-16 works in the 101.91 department, and was born in 102.91.
Processed 189 lines.
	 11-Mar-16 works in the 102.24 department, and was born in 102.28.
Processed 190 lines.
	 10-Mar-16 works in the 101.41 department, and was born in 102.24.
Processed 191 lines.
	 9-Mar-16 works in the 101.31 department, and was born in 101.58.
Processed 192 lines.
	 8-Mar-16 works in the 100.78 department, and was born in 101.76.
Processed 193 lines.
	 7-Mar-16 works in the 102.39 department, and was born in 102.83.
Processed 194 lines.
	 4-Mar-16 works in the 102.37 department, and was born in 103.75.
Processed 195 lines.
	 3-Mar-16 works in the 100.58 department, and was born in 101.71.
Processed 196 lines.
	 2-Mar-16 works in the 100.51 department, and was born in 100.89.
Processed 197 lines.
	 1-Mar-16 works in the 97.65 department, and was born in 100.77.
Processed 198 lines.
	 29-Feb-16 works in the 96.86 department, and was born in 98.23.
Processed 199 lines.
	 26-Feb-16 works in the 97.20 department, and was born in 98.02.
Processed 200 lines.
	 25-Feb-16 works in the 96.05 department, and was born in 96.76.
Processed 201 lines.
	 24-Feb-16 works in the 93.98 department, and was born in 96.38.
Processed 202 lines.
	 23-Feb-16 works in the 96.40 department, and was born in 96.50.
Processed 203 lines.
	 22-Feb-16 works in the 96.31 department, and was born in 96.90.
Processed 204 lines.
	 19-Feb-16 works in the 96.00 department, and was born in 96.76.
Processed 205 lines.
	 18-Feb-16 works in the 98.84 department, and was born in 98.89.
Processed 206 lines.
	 17-Feb-16 works in the 96.67 department, and was born in 98.21.
Processed 207 lines.
	 16-Feb-16 works in the 95.02 department, and was born in 96.85.
Processed 208 lines.
	 12-Feb-16 works in the 94.19 department, and was born in 94.50.
Processed 209 lines.
	 11-Feb-16 works in the 93.79 department, and was born in 94.72.
Processed 210 lines.
	 10-Feb-16 works in the 95.92 department, and was born in 96.35.
Processed 211 lines.
	 9-Feb-16 works in the 94.29 department, and was born in 95.94.
Processed 212 lines.
	 8-Feb-16 works in the 93.13 department, and was born in 95.70.
Processed 213 lines.
	 5-Feb-16 works in the 96.52 department, and was born in 96.92.
Processed 214 lines.
	 4-Feb-16 works in the 95.86 department, and was born in 97.33.
Processed 215 lines.
	 3-Feb-16 works in the 95.00 department, and was born in 96.84.
Processed 216 lines.
	 2-Feb-16 works in the 95.42 department, and was born in 96.04.
Processed 217 lines.
	 1-Feb-16 works in the 96.47 department, and was born in 96.71.
Processed 218 lines.
	 29-Jan-16 works in the 94.79 department, and was born in 97.34.
Processed 219 lines.
	 28-Jan-16 works in the 93.79 department, and was born in 94.52.
Processed 220 lines.
	 27-Jan-16 works in the 96.04 department, and was born in 96.63.
Processed 221 lines.
	 26-Jan-16 works in the 99.93 department, and was born in 100.88.
Processed 222 lines.
	 25-Jan-16 works in the 101.52 department, and was born in 101.53.
Processed 223 lines.
	 22-Jan-16 works in the 98.63 department, and was born in 101.46.
Processed 224 lines.
	 21-Jan-16 works in the 97.06 department, and was born in 97.88.
Processed 225 lines.
	 20-Jan-16 works in the 95.10 department, and was born in 98.19.
Processed 226 lines.
	 19-Jan-16 works in the 98.41 department, and was born in 98.65.
Processed 227 lines.
	 15-Jan-16 works in the 96.20 department, and was born in 97.71.
Processed 228 lines.
	 14-Jan-16 works in the 97.96 department, and was born in 100.48.

In [4]:
import csv 

# field names 

fields = ['Name', 'Branch', 'Year', 'CGPA']

# data 

rows = [
        ['Ram', 'COE', 2, '9.0'],
        ['Sahil', 'COE', 2, '9.2'],
        ['Krishna', 'IT', 8, '8.0'],
        ['Rajesh', 'MCE', 5, '9.8'],
        ['Raj', 'SE', 3, '8.0'],
        ['Joe', 'EP', 4, '7.0']
    ]

fileName = 'records.csv'

with open(fileName, 'w') as csvfile :
    csvwriter = csv.writer(csvfile)
    
    csvwriter.writerow(fields)
    
    csvwriter.writerows(rows)
    
print('done')

done

In [6]:
import csv 

# field names 

fields = ['Name', 'Branch', 'Year', 'CGPA']

# data 

rows = [
        {'Name' : 'Ram', 'Branch' :'COE', 'Year' : '2', 'CGPA' : '9.0'},
        {'Name' : 'Sahil', 'Branch' :'COE', 'Year' : '2', 'CGPA' : '9.2'},
        {'Name' : 'Krishna', 'Branch' :'IT', 'Year' : '8', 'CGPA' : '8.0'},
        {'Name' : 'Rajesh', 'Branch' :'MCE', 'Year' : '5', 'CGPA' : '9.8'},
        {'Name' : 'Raj', 'Branch' :'SE', 'Year' : '3', 'CGPA' : '8.0'},
        {'Name' : 'Joe', 'Branch' :'EP', 'Year' : '4', 'CGPA' : '7.0'}
    ]

fileName = 'records1.csv'

with open(fileName, 'w') as csvfile :
    csvwriter = csv.DictWriter(csvfile, fieldnames = fields)
    
    csvwriter.writeheader()
    
    csvwriter.writerows(rows)
    
print('done')

done

In [7]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading PyPDF2-2.11.1-py3-none-any.whl (220 kB)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\user\anaconda3\lib\site-packages (from PyPDF2) (4.1.1)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.11.1

In [8]:
import PyPDF2

pdfFileObj = open('example.pdf' , 'rb')

pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

print(pdfReader.numPages)

pageObj = pdfReader.getPage(0)

print(pageObj.extractText())

pdfFileObj.close()

20
Python Basics
S.R. Doty
August 27, 2008
Contents
1 Preliminaries 4
1.1 What is Python? . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4
1.2 Installation and documentation . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4
2 Getting started 4
2.1 Running Python as a calculator . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4
2.2 Quitting the interpreter . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 6
2.3 Loading commands from the library . . . . . . . . . . . . . . . . . . . . . . . . . . . 6
2.4 Deﬁning functions . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 7
2.5 Files . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 8
2.6 Testing code . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 8
2.7 Scripts . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 8
1

In [11]:
import PyPDF2

def PDFMerge(pdfs, output) :
    
    pdfMerger = PyPDF2.PdfFileMerger()
    
    for pdf in pdfs :
        with open(pdf, 'rb') as f :
            pdfMerger.append(f)
            
    with open(output, 'wb') as f :
        pdfMerger.write(f)
        
        
def main() :
    pdfs = ['example.pdf', 'rotated_example.pdf']
    
    output = 'combined_example.pdf'
    
    PDFMerge(pdfs = pdfs, output = output)
    

if __name__ == "__main__" :
    main()

In [18]:
from zipfile import ZipFile
import datetime

file_name = "my_python_files.zip"

with ZipFile(file_name, 'r') as zip :
    for info in zip.infolist() :
        print(info.filename)
        print(str(info.create_system))
        print(str(info.create_version))
        print(str(info.compress_size))
        print(str(info.file_size))

python_files/python_wiki.txt
3
20
986
986
python_files/python_basic.pdf
3
20
210098
210098
python_files/logos/python_logo.jpg
3
20
46623
46623

In [21]:
from zipfile import ZipFile
import datetime

file_name = "my_python_files.zip"

with ZipFile(file_name, 'r') as zip :
       zip.printdir()
       zip.extractall()
       print("done")

File Name                                             Modified             Size
python_files/python_wiki.txt                   2018-02-06 18:14:02          986
python_files/python_basic.pdf                  2018-02-06 18:14:02       210098
python_files/logos/python_logo.jpg             2018-02-06 18:14:02        46623
done

In [24]:
import pandas as pd


pop = pd.read_csv("PopPyramids.csv")

pop.head()

,Region,Country,Year,Age,Both Sexes Population,Male Population,Female Population,Percent Both Sexes,Percent Male,Percent Female,Sex Ratio
0,Custom Region,Afghanistan,2013,Total,31108077,15782020,15326057,100.0,100.0,100.0,103.0
1,Custom Region,Afghanistan,2013,0-4,4954694,2516706,2437988,15.9,15.9,15.9,103.2
2,Custom Region,Afghanistan,2013,5-9,4237569,2151981,2085588,13.6,13.6,13.6,103.2
3,Custom Region,Afghanistan,2013,10-14,4060950,2064410,1996540,13.1,13.1,13.0,103.4
4,Custom Region,Afghanistan,2013,15-19,3776516,1923726,1852790,12.1,12.2,12.1,103.8

In [27]:
pop=pd.read_csv("PopPyramids.csv", index_col=['Country', 'Year', 'Age'])

pop.drop('Region', axis=1, inplace=True)

pop.sort_index(inplace=True)

pop.head()

                        Both Sexes Population  Male Population  \
Country     Year Age
Afghanistan 2013 0-4                  4954694          2516706
                 10-14                4060950          2064410
                 100+                      10                4
                 15-19                3776516          1923726
                 20-24                3049334          1555970

                        Female Population  Percent Both Sexes  Percent Male  \
Country     Year Age
Afghanistan 2013 0-4              2437988                15.9          15.9
                 10-14            1996540                13.1          13.1
                 100+                   6                 0.0           0.0
                 15-19            1852790                12.1          12.2
                 20-24            1493364                 9.8           9.9

                        Percent Female  Sex Ratio
Country     Year Age
Afghanistan 2013 0-4              15.9      103.2
                 10-14            13.0      103.4
                 100+              0.0       66.7
                 15-19            12.1      103.8
                 20-24             9.7      104.2

In [28]:
print(pop)

                        Both Sexes Population  Male Population  \
Country     Year Age
Afghanistan 2013 0-4                  4954694          2516706
                 10-14                4060950          2064410
                 100+                      10                4
                 15-19                3776516          1923726
                 20-24                3049334          1555970
...                                       ...              ...
Zimbabwe    2017 80-84                  63002            25801
                 85-89                  29602            12140
                 90-94                  10160             3918
                 95-99                   2159              729
                 Total               14868131          7467296

                        Female Population  Percent Both Sexes  Percent Male  \
Country     Year Age
Afghanistan 2013 0-4              2437988                15.9          15.9
                 10-14            1996540                13.1          13.1
                 100+                   6                 0.0           0.0
                 15-19            1852790                12.1          12.2
                 20-24            1493364                 9.8           9.9
...                                   ...                 ...           ...
Zimbabwe    2017 80-84              37201                 0.4           0.3
                 85-89              17462                 0.2           0.2
                 90-94               6242                 0.1           0.1
                 95-99               1430                 0.0           0.0
                 Total            7400835               100.0         100.0

                        Percent Female  Sex Ratio
Country     Year Age
Afghanistan 2013 0-4              15.9      103.2
                 10-14            13.0      103.4
                 100+              0.0       66.7
                 15-19            12.1      103.8
                 20-24             9.7      104.2
...                                ...        ...
Zimbabwe    2017 80-84             0.5       69.4
                 85-89             0.2       69.5
                 90-94             0.1       62.8
                 95-99             0.0       51.0
                 Total           100.0      100.9

[25080 rows x 7 columns]

In [29]:
pop.loc[('UnitedStates', 2013), : ]

,Both Sexes Population,Male Population,Female Population,Percent Both Sexes,Percent Male,Percent Female,Sex Ratio
Age,,,,,,,
0-4,19853916,10143846,9710070,6.3,6.5,6.0,104.5
10-14,20657299,10547976,10109323,6.5,6.8,6.3,104.3
100+,66189,12287,53902,0.0,0.0,0.0,22.8
15-19,21191148,10855302,10335846,6.7,7.0,6.4,105.0
20-24,22843422,11695317,11148105,7.2,7.5,6.9,104.9
25-29,21600033,10950274,10649759,6.8,7.0,6.6,102.8
30-34,21298883,10684217,10614666,6.7,6.9,6.6,100.7
35-39,19648035,9795390,9852645,6.2,6.3,6.1,99.4
40-44,20894070,10375418,10518652,6.6,6.7,6.5,98.6
45-49,21254280,10518659,10735621,6.7,6.8,6.7,98.0
5-9,20574674,10506934,10067740,6.5,6.7,6.3,104.4
50-54,22590200,11083933,11506267,7.1,7.1,7.2,96.3
55-59,21209242,10287274,10921968,6.7,6.6,6.8,94.2
60-64,18133011,8675964,9457047,5.7,5.6,5.9,91.7
65-69,14610276,6910751,7699525,4.6,4.4,4.8,89.8
70-74,10610679,4882739,5727940,3.4,3.1,3.6,85.2
75-79,7682724,3391155,4291569,2.4,2.2,2.7,79.0
80-84,5762169,2366422,3395747,1.8,1.5,2.1,69.7
85-89,3792149,1381202,2410947,1.2,0.9,1.5,57.3
90-94,1715823,533839,1181984,0.5,0.3,0.7,45.2
95-99,439173,107871,331302,0.1,0.1,0.2,32.6
Total,316427395,155706770,160720625,100.0,100.0,100.0,96.9

In [30]:
pop.loc[(slice(None), 2017, "Total"), : ].sort_values("Both Sexes Population", ascending=False)

,,,Both Sexes Population,Male Population,Female Population,Percent Both Sexes,Percent Male,Percent Female,Sex Ratio
Country,Year,Age,,,,,,,
China,2017,Total,1379302771,709040301,670262470,100.0,100.0,100.0,105.8
India,2017,Total,1281935911,665396083,616539828,100.0,100.0,100.0,107.9
UnitedStates,2017,Total,326625791,161034735,165591056,100.0,100.0,100.0,97.2
Indonesia,2017,Total,260580739,130384286,130196453,100.0,100.0,100.0,100.1
Brazil,2017,Total,207353391,102213894,105139497,100.0,100.0,100.0,97.2
...,...,...,...,...,...,...,...,...,...
CookIslands,2017,Total,9290,4789,4501,100.0,100.0,100.0,106.4
SaintHelena,2017,Total,7828,3945,3883,100.0,100.0,100.0,101.6
SaintBarthelemy,2017,Total,7184,3808,3376,100.0,100.0,100.0,112.8
SaintPierreandMiquelon,2017,Total,5533,2697,2836,100.0,100.0,100.0,95.1
Montserrat,2017,Total,5292,2642,2650,100.0,100.0,100.0,99.7

In [31]:
pop_html = pd.read_html("PopPyramids.html")
pop_html

[              Region      Country  Year    Age  Both Sexes Population  \
 0      Custom Region  Afghanistan  2013  Total               31108077
 1      Custom Region  Afghanistan  2013    0-4                4954694
 2      Custom Region  Afghanistan  2013    5-9                4237569
 3      Custom Region  Afghanistan  2013  10-14                4060950
 4      Custom Region  Afghanistan  2013  15-19                3776516
 ...              ...          ...   ...    ...                    ...
 25075  Custom Region     Zimbabwe  2017  80-84                  63002
 25076  Custom Region     Zimbabwe  2017  85-89                  29602
 25077  Custom Region     Zimbabwe  2017  90-94                  10160
 25078  Custom Region     Zimbabwe  2017  95-99                   2159
 25079  Custom Region     Zimbabwe  2017   100+                    245

        Male Population  Female Population  Percent Both Sexes  Percent Male  \
 0             15782020           15326057               100.0         100.0
 1              2516706            2437988                15.9          15.9
 2              2151981            2085588                13.6          13.6
 3              2064410            1996540                13.1          13.1
 4              1923726            1852790                12.1          12.2
 ...                ...                ...                 ...           ...
 25075            25801              37201                 0.4           0.3
 25076            12140              17462                 0.2           0.2
 25077             3918               6242                 0.1           0.1
 25078              729               1430                 0.0           0.0
 25079               70                175                 0.0           0.0

        Percent Female  Sex Ratio
 0               100.0      103.0
 1                15.9      103.2
 2                13.6      103.2
 3                13.0      103.4
 4                12.1      103.8
 ...               ...        ...
 25075             0.5       69.4
 25076             0.2       69.5
 25077             0.1       62.8
 25078             0.0       51.0
 25079             0.0       40.0

 [25080 rows x 11 columns]]

In [32]:
pop_html[0].head()

,Region,Country,Year,Age,Both Sexes Population,Male Population,Female Population,Percent Both Sexes,Percent Male,Percent Female,Sex Ratio
0,Custom Region,Afghanistan,2013,Total,31108077,15782020,15326057,100.0,100.0,100.0,103.0
1,Custom Region,Afghanistan,2013,0-4,4954694,2516706,2437988,15.9,15.9,15.9,103.2
2,Custom Region,Afghanistan,2013,5-9,4237569,2151981,2085588,13.6,13.6,13.6,103.2
3,Custom Region,Afghanistan,2013,10-14,4060950,2064410,1996540,13.1,13.1,13.0,103.4
4,Custom Region,Afghanistan,2013,15-19,3776516,1923726,1852790,12.1,12.2,12.1,103.8